body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: whitesmoke;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
  width: 420px;
  height: 550px;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right top, #cbb5de, #cdb7df, #cfb9df, #d0bce0, #d2bee1);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  cursor: pointer;
  width: 90px;
  height: 70px;
  font-size: 22px;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
  transition: ease-in-out 0.2s;
}

button:hover {
  background-color: rebeccapurple;
  color: white;
  transition: ease-in-out 0.2s;
}

input {
  margin-top: 10px;
  margin-bottom:50px;
  width: 390px;
  height: 60px;
  font-size: 26px;
  text-align: right;
  border: none;
  border-radius: 5px;
  outline: none;
  user-select: none;
}